.App {
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  text-align: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f2f2f2;
}

.input-row {
  display: flex;
}

.input-row::first-child {
  margin-left: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #13462e;
}